<div class="container">
    <div class="row">
        <div class="col-12">
        <h1 class="text-center">Welcome to my portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <p class="text-center">This is a simple portfolio website that I made using Angular. I hope you like it!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <p class="text-center">You can find the source code for this project on my GitHub page.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <p class="text-center">Feel free to contact me if you have any questions or feedback.</p>
        </div>
    </div>
</div>