<div class="d-flex flex-row align-items-center justify-content-end">
  <div class="me-20" style="margin-right: 100px">
    <div>
      <h5>Olá, meu nome é</h5>
      <h1>Aleff Remberto</h1>
      <h5>FullStack developer</h5>
    </div> 
    <div class="d-flex flex-row gap-2" style="font-size: 1.5rem; color: rgb(0,178,223);">
        <a  href="">
          <i class="bi bi-linkedin" style="color: rgb(0,178,223);"></i>
        </a>
      <a href="">
        <i class="bi bi-instagram" style="color: rgb(0,178,223);"></i>
      </a>
      <a href="">
        <i class="bi bi-github" style="color: rgb(0,178,223);"></i>
      </a>
      <a href="">
        <i class="bi bi-browser-chrome" style="color: rgb(0,178,223);"></i>
      </a>
      <a href="">
        <i class="bi bi-file-earmark-pdf-fill" style="color: rgb(0,178,223);"></i>
      </a>
      <a href="">
        <i class="bi bi-book" style="color: rgb(0,178,223);"></i>
      </a>
      <a href="">
        <i class="bi bi-book" style="color: rgb(0,178,223);"></i>
      </a>
    </div>
  </div>
  <div>
    <img
      style="height: calc(100vh - 72px)"
      src="https://raw.githubusercontent.com/abhisheknaiidu/abhisheknaiidu/master/code.gif"
      alt="eu"
    />
  </div>
</div>
